*{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
}

.container{
  height: 100vh;
  width: 100%;
  background-image: url("headphones.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.logo{
  position: relative;
  top:20px;
  width:80px;
  height: 80px;
  cursor: pointer;
}
.navbar{
  width: 95%;
  margin-left: 40px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}

.navbar ul li a{
  text-decoration: none;
  color: #ffda61;
  /* color: #D3AE36; */
  font-size: 18px;
}


.lft h1{
  margin-left: 20px;
  text-align: center;

  font-size: 50px;
  color: #FADCD9;
  line-height:70px;
  float: left;
}

.ryt{
  float: right;
  margin-right:2%;
  margin-top: 120px;
  display: flex;
  align-items:center;
}

.ryt p{
  font-size: 16px;
  color:#ffda61;
  font-weight: 400;
}


.s:hover{
  color: #F79489;
}

.und{
  position: relative;
}
.und:before{
  content: "";
  position: absolute;
  /* width: 100%;  middle */
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FADCD9;
  visibility: hidden;
  /* transform: scaleX(0);  middle */
  transition: all 0.3s ease-in-out;

}

.und:hover:before {
  visibility: visible;
  /* transform: scaleX(1);  middle  */
  width: 100%;
}

#icon{
 cursor:pointer;
 width: 80px;
}

.vapo{
  position: relative;
  display: flex;
  z-index: 1;
  padding: 0 20px;
}

.vapo span{
  position: relative;
  top: 120px;

  left: 285px;
  display: block;
  margin: 0 2px 50px;
  min-width: 8px;
  height: 150px;
  background: #FFC140;
  /* background:#FEB979; */
  animation: animate 5s linear infinite;
  border-radius: 50%
  opacity:0;
  filter: blur(8px);
  animation-delay: calc(var(--i)* -0.5s);
}


@keyframes animate
{
  0%{
    transform: translateY(0) scaleX(1);
    opacity: 0;
  }
  15%
  {
    opacity: 1;
  }
  50%{
    transform: translateY(-150px) scaleX(5);
  }
  95%
  {
    opacity: 0;
  }
  100%{
    transform: translateY(-300px) scaleX(10);
  }
}



































































/*  */
